.vscode/
testtools/CoreConsoleParser/.vscode/
testtools/CoreConsoleParser/CoreConsoleParser/obj/
testtools/CoreConsoleParser/CoreConsoleParser/bin/
testtools/CoreConsoleParser/.vs/
testtools/CoreConsoleParser/CoreConsoleParser/CoreConsoleParser.csproj.user
simplace_exe
rundeck/varservice/debug
rundeck/sim_schedule/debug
docker/apsimx/test
docker/simplace-hpc/simplace
testtools/email-attachment-service/config.yaml
testtools/email-attachment-service/debug.log
test_config*
debug_*
hpc/allocate/config_example
hpc/allocate/config_generated
*.exe
*.dll
