.vscode/
testtools/CoreConsoleParser/.vscode/
testtools/CoreConsoleParser/CoreConsoleParser/obj/
testtools/CoreConsoleParser/CoreConsoleParser/bin/
testtools/CoreConsoleParser/.vs/
testtools/CoreConsoleParser/CoreConsoleParser/CoreConsoleParser.csproj.user
