go 1.27.1

use (
	./hpc/simplace/accumulate_output
	./hpc/simplace/splitsimplaceproj
	./hpc/vllm/hpc_loadbalancer
	./rundeck/varservice
	./testtools/email-attachment-service
	./testtools/verify_climate_data_bonn
)
