
services:
    rundeck:
        hostname: rundeckMAS
        image: ${MAS_RUNDECK_IMAGE:?err}
        links:
          - mysql
          - varservice
        environment:
            RUNDECK_GRAILS_URL: ${MAS_RUNDECK_GRAILS_URL:?err}/rundeck
            RUNDECK_SERVER_FORWARDED: 'true'
            RUNDECK_SERVER_CONTEXTPATH: /rundeck

            RUNDECK_DATABASE_DRIVER: org.mariadb.jdbc.Driver
            RUNDECK_DATABASE_USERNAME: rundeck
            RUNDECK_DATABASE_PASSWORD: ${MAS_RUNDECK_DB_PASSWORD:?err}
            RUNDECK_DATABASE_URL: jdbc:mysql://mysql/rundeck?autoReconnect=true&useSSL=false

            RUNDECK_STORAGE_CONVERTER_1_CONFIG_PASSWORD: ${MAS_RUNDECK_KEY_STORAGE_PASSWORD:?err}
            RUNDECK_CONFIG_STORAGE_CONVERTER_1_CONFIG_PASSWORD: ${MAS_RUNDECK_STORAGE_PASSWORD:?err}

            RUNDECK_LOGGING_STRATEGY: FILE

        entrypoint: >
            /bin/bash -c "
              mkdir -p /home/rundeck/etc/ssl/truststore &&
              keytool -importcert -file /usr/local/share/ca-certificates/CA-ZALF.crt -keystore /home/rundeck/etc/ssl/truststore/truststore.jks -storepass changeit -noprompt -alias zalf-ca || true &&
              /tini -- docker-lib/entry.sh -Djavax.net.ssl.trustStore=/home/rundeck/etc/ssl/truststore/truststore.jks -Djavax.net.ssl.trustStorePassword=changeit
            "
        volumes:
          - data:/home/rundeck/server/data
          - logs:/home/rundeck/server/logs
          - ${MAS_RUNDECK_MOUNT_HOME:?err}/etc/jaas-loginmodule.conf:/home/rundeck/server/config/jaas-loginmodule.conf:ro
          - ${MAS_RUNDECK_MOUNT_HOME:?err}/etc/realm.properties:/home/rundeck/server/config/realm.properties:ro
          - ${MAS_RUNDECK_MOUNT_HOME:?err}/etc/certs/CA-ZALF.crt:/usr/local/share/ca-certificates/CA-ZALF.crt
          - truststore:/home/rundeck/etc/ssl/truststore
    mysql:
        image: mysql:5.7
        expose:
          - 3306
        environment:
          - MYSQL_ROOT_PASSWORD=${MAS_MYSQL_ROOT_PASSWORD:?err}
          - MYSQL_DATABASE=rundeck
          - MYSQL_USER=rundeck
          - MYSQL_PASSWORD=${MAS_RUNDECK_DB_PASSWORD:?err}
        volumes:
          - ./mysql-init:/docker-entrypoint-initdb.d         
          - dbdata:/var/lib/mysql
    varservice:
        image: varservice:1.2
        pull_policy: never 
        expose:
          - 6080
    nginx:
        image: nginx
        links:
          - rundeck
        volumes:
          - ${MAS_PROXY_MOUNT_HOME:?err}/nginx.conf:/etc/nginx/nginx.conf:ro
          - ${MAS_PROXY_MOUNT_HOME:?err}/ssl-certs:/etc/nginx/ssl-certs
        ports:
          - 80:80
          - 443:443
volumes:
    dbdata:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${MAS_RUNDECK_MOUNT_HOME:?err}/db
    data:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${MAS_RUNDECK_MOUNT_HOME:?err}/data
    logs:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${MAS_RUNDECK_MOUNT_HOME:?err}/logs
    truststore:
      driver: local
      driver_opts:
        type: none
        o: bind
        device: ${MAS_RUNDECK_MOUNT_HOME:?err}/truststore